<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "org.priceapp.priceapp"
		version		= "1.0.1">

	<name>PriceApp</name>

	<description>
		Calc price items
	</description>

	<author href="http://priceapp.github.io/priceapp" email="priceapp.open@gmail.com">
		PriceApp Team
	</author>

	<feature name="http://api.phonegap.com/1.0/device" />

	<preference name="phonegap-version"			value="2.5.0" />
	<preference name="orientation"				value="portrait" />
	<preference name="target-device"			value="universal" />
	<preference name="fullscreen"				value="false" />
	<preference name="android-minSdkVersion"	value="7" />
	<preference name="android-installLocation"	value="preferExternal" />

	<icon src="icon.png" />
	<icon src="res/icon/android/ldpi.png"	gap:platform="android" gap:density="ldpi" />
	<icon src="res/icon/android/mdpi.png"	gap:platform="android" gap:density="mdpi" />
	<icon src="res/icon/android/hdpi.png"	gap:platform="android" gap:density="hdpi" />
	<icon src="res/icon/android/xhdpi.png"	gap:platform="android" gap:density="xhdpi" />

	<gap:splash src="res/screen/android/screen-ldpi-portrait.jpg"  gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait.jpg"  gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.jpg"  gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.jpg" gap:platform="android" gap:density="xhdpi" />

	<access origin="http://127.0.0.1*"/>

</widget>